<h1>Formularios reactivos y de plantilla</h1>
<app-template-driven></app-template-driven>

<app-form-reactivo1></app-form-reactivo1>

<h1 appDirectivaCustom >Como usar una directiva personalizada en este titulo</h1>


<h1>Formulario basado en plantillas, detalles</h1>
<app-formulario-plantillas-detalle></app-formulario-plantillas-detalle>


<h1>Formulario basado en plantillas con validacion total</h1>
<app-plantillas-form-completo></app-plantillas-form-completo>

<app-directivas-angular></app-directivas-angular>